@import '../../scss/Constants.scss';

.header {
    color: $yellow;
    border-bottom: 3px solid $yellow;
    width: 1250px;
    display: flex;

    justify-content: space-between;
    align-items: center;
}
.primary{
    font-size: 3em;
}
.secondary{
    font-size: 2em;
}

