@import "../../scss/Constants.scss";


.container{
    position: absolute;
    width: 1230px;
    height: 50px;
    border: 10px solid $yellow;
    top: 820px;

}

.text{
    color: $yellow;
    font-size: 3em;
    height: 50px;
    width: 1300px;
}
