@import "../../scss/Constants.scss";


.container{
    position: absolute;
    height: 30px;
    border: 10px solid $yellow;
    margin: 0px;
}

.text{
    color: $yellow;
    font-size: 2em;
    height: 30px;
    width: 1300px;
}
