@import "../../scss/Constants.scss";

.building{
        image-rendering: pixelated;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.name{
        color: $yellow;
}

a{
        text-decoration: none;
}

.textcontainer {
        border: 3px solid $lightBlue;
        background-color: $background;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}