@import "../../scss/Constants.scss";

.building{
        image-rendering: pixelated;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.name{
        color: $yellow;
        font-size: 2em;
}

a{
        text-decoration: none;
}

.textcontainer {
        border: 2px solid $yellow;
        background-color: $darkBlue;
        color: $yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
}